@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.page-content {
  display: none; /* Esconde todas as abas */
  animation: fadeIn 0.3s ease;
}

.page-content.active {
  display: block; /* Mostra apenas a ativa */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

.m-input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background: #0a0a0f;
  border: 1px solid #333;
  color: #fff;
  border-radius: 6px;
}

/* Garante que o fundo ocupe tudo e não crie barras de rolagem estranhas */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #0a0a0f; /* Cor de fundo padrão para evitar o "branco" no carregamento */
}
